/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему.
*/

/* Сохраните этот селектор в приведённом виде.
  Так стили написанные ниже будут иметь больший вес,
  чем стили в медиазапросе предпочтений пользователя.
*/

:root.theme-dark {
  /* Общие настройки для темной темы */
  --background-color: #000028; /* Цвет фона */
  --background-image: url(../images/cover-image-dark.png); /* Фоновое изображение  */
  --accent-color: #ff0070; /* Акцентный цвет */
  --color-corners: #ff0070; /* Декоративные уголки */

  /* Настройки текста */
  --text-color: #000028; /* Цвет текста в закрашенных областях */
  --heading-color: #db00ff; /* Цвет заголовков (шапка и подвал) */
  --p-text-color: #f1b2ce; /* Цвет текста в параграфах */
  --section-title: #ff0070; /* Цвет заголовков секций */
}
