/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Общие стили для страницы */
.page {
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 375px;
}

/*  Стили для шапки страницы */
.header {
  display: grid;
  min-height: 668px;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

/* Медиазапрос для экранов шириной до 375px */
@media (max-width: 375px) {
  .header {
    padding: 10px;
  }
}

/* Стили для заголовка */
.header__title {
  justify-self: start;
  align-self: center;
  text-shadow: var(--text-shadow-offset);
  margin: 0;
  color: var(--heading-color);
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

/* Медиазапрос для экранов шириной от 768px */
@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Стили для подзаголовка */
.header__subtitle {
  justify-self: end;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  max-width: 491px;
}

/* Стили для меню выбора темы */
.header__theme-menu {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: auto;
}

.header__theme-menu-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

/* Стили для кнопок в меню */
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-size: var(--font-size);
  width: 70px;
  height: 26px;
}

/* Подчеркивание при наведении курсора */
.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--accent-color);
}

/* Подчеркивание при фокусе */
.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

/* Стили для активной кнопки */
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

/* Медиазапрос для экранов шириной от 1024px */
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Стили для индикатора записи (REC) */
.rec-indicator {
  display: flex;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  z-index: 1;
  align-items: center;
  gap: 10px;
}

/* Медиазапрос для экранов шириной от 768px */
@media (min-width: 768px) {
  .rec-indicator {
    top: 20px;
    right: 29px;
  }
}

/* Стили для точки индикатора записи */
.rec-indicator::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 30%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.rec__text {
  font-size: var(--font-size);
}

/* Скрывает индикатор записи в светлой теме */
.theme-light .rec-indicator {
  display: none;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
}

/* Стили для зоны с декоративными уголками */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-corners);
}

/* Стили для верхнего правого уголка */
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

/* Стили для нижнего левого уголка */
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

/* Медиазапрос для экранов шириной от 768px */
@media (min-width: 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

/* Стили для основного содержания страницы */
.content {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Стили для секции контента */
.content-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 80px;
  gap: 20px;
}

/* Стили для заголовка секции */
.section__title {
  color: var(--section-title);
  margin-top: 0;
}

/* Стили заголовков с нежирным шрифтом - 3 секция */
.normal-title {
  font-weight: 400;
}

/* Стили для подзаголовка секции контента */
.content-section__subtitle {
  margin-top: 0;
}

/* Стили для обертки контента секции */
.content-section__wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
}

/* Стили для обертки контента с 3 колонками - 2 секция*/
.content-section__wrapper_columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content-section.section-2 {
  grid-template-columns: 1fr;
}

/* Стили для заголовка - 2 секция */
.content-section.section-2 .section__title {
  grid-column: 1 / 3;
}

/* Стили для обертки контента второй секции */
.content-section.section-2 .content-section__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 3;
}

/* Стили для заголовка карточек */
.card__title {
  margin-top: 0;
}

/* Стили для параграфа (текста) карточки */
.card__paragraph {
  color: var(--p-text-color);
  font-size: 16px;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
}

/* Медиазапрос для экранов шириной до 375px */
@media (max-width: 375px) {
  .content-section {
    grid-template-columns: 1fr;
  }

  .content-section__wrapper {
    grid-column: auto;
  }

  .content-section__wrapper_columns {
    grid-template-columns: 1fr;
  }

  .content-section.section-2 {
    grid-template-columns: 1fr;
  }

  .content-section.section-2 .section__title {
    grid-column: auto;
  }

  .content-section.section-2 .content-section__wrapper {
    grid-column: auto;
    grid-template-columns: 1fr;
  }

  .content {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-section {
    margin-bottom: 50px;
  }
}

/* Медиазапрос для экранов шириной от 768px и до 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .content-section.section-2 .content-section__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Стили для ссылок */
a {
  color: var(--p-text-color);
  text-decoration: none;
  text-shadow: 0.06em 0.06em 0 var(--accent-color);
}

/* Подчеркивание при наведении */
a:hover {
  border-bottom: 1px solid var(--p-text-color);
}

/* Выделение при фокусе */
a:focus-visible {
  outline: none;
  border: 1px solid var(--p-text-color);
}

/* Стили для контейнера фото-сетки */
.photo-grid__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* Стили для изображений */
.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Медиазапрос для экранов шириной от 768px */
@media (min-width: 768px) {
  .photo-grid__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .photo-grid__item:first-child {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .photo-grid__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 3;
  }

  .photo-grid__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  .photo-grid__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .photo-grid__item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 4;
  }
}

/* Стили для подвала страницы */
.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

/* Стили для заголовка подвала */
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: var(--text-shadow-offset);
  margin: 0;
  color: var(--heading-color);
}
