/*
  Переменные для вашего проекта
  и их переопределение под различные устройства.
*/

:root {
  /* Темная тема по умолчанию */
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --p-text-color: #f1b2ce;
  --section-title: #ff0070;
  --color-corners: #ff0070;
  --menu-color: #ff0070; /* Цвет меню */

  /* Тень для текста */
  --text-shadow-offset: 4px 4px 0 var(--accent-color);

  /* Фоновое изображение для темной и светлой темы */
  --background-image-dark: url(../images/cover-image-dark.png);
  --background-image-light: url(../images/cover-image-light.png);

  /* Шрифт */
  --font-family: "IBM Plex Mono", monospace;

  /* Размер шрифта */
  --font-size: 18px; /* Размер шрифта по умолчанию */

  /* Размер шрифта для заголовка футера */
  --footer-title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-font-size-desktop: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  );
}
